.App {
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;

}

tr {
  height: 60px;
}

td {
  width: 60px;
}

.clickable {
  background-color: red;
}

.clicked {
  background-color: lime;
}

#field {
  background-image:url('./graphics/field.jpg');
  background-repeat: no-repeat;
  width: 737px;
  height: 397px;
  margin: 50px auto 20px auto;
  padding-top: 200px;
}

.balls tr {
  height: 200px;
}

.small td {
  width: 15px;
}

.small tr {
  height: 15px;
}